*.class
*.pdf

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
*.classpath
*.project
*.settings/*

# Project-Specific #
android_app/gen/*
android_app/bin/*
android_app/.settings
android_app/project.properties

# Temporary Files #
~$*
*.swp
