<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.seas.senior_design.p2d2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.upenn.seas.senior_design.p2d2.TestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.upenn.seas.senior_design.p2d2.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.upenn.seas.senior_design.p2d2.CalibrateActivity"
            android:label="@string/title_activity_calibrate" >
        </activity>
        <activity
            android:name="edu.upenn.seas.senior_design.p2d2.ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>

        <service
            android:name="edu.upenn.seas.senior_design.p2d2.BTConnectionService"
            android:exported="false" >
        </service>

        <activity
            android:name="edu.upenn.seas.senior_design.p2d2.MainTabActivity"
            android:label="@string/title_tab_activity" >
        </activity>
    </application>

</manifest>
